#gamecontainer{
	width: 640px;
	height: 480px;
	background: url(Assets/images/splashscreen.png);
	border: 1px solid black;
}
.gamelayer{
	width: 640px;
	height: 480px;
	position: absolute;
	display: none;
}
#gamestarscreen{
	padding-top: 250px;
	text-align: center;

}
#gamestartscreen img{
	margin: 10px;
	cursor: pointer;
}
#botonplay{
	display: block;
 	margin-left: 35% !important;
	margin-right: 35% !important;
	margin-top: 40% !important; 
	
}
#botonsettings{
	display: block;
 	margin-left: 35% !important;
	margin-right: 35% !important;
	
}